################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hypervisor/.vs/Hypervisor/v14
/Hypervisor/Hypervisor.VC.opendb
